<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="uwmMain.html"> 
    <div class="center-div">
        <h1 class='heading'>Tech Meetup</h1>
    <img src="https://secure.meetupstatic.com/s/img/786824251364989575000/logo/swarm/m_swarm_630x630.png" height="100" width="100"> 
    </div>
    
	<widget-row >
		<widget-cell class="events">
			<h2>{{data.value.name}}</h2>
		</widget-cell>
	</widget-row>
		
	<widget-row ng-repeat="item in data.value" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.name}}</span>
			<span ng-repeat= "tag in item.tags" class="label label-success">
				{{tag}}
			</span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
<!--     {{data.value.name}} -->
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="uwmDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><strong><h2>{{detailsItem.value.city}}, {{detailsItem.value.country}}</h2></strong></wc>   
	</wr>
    <wr>
		<wc><strong><h4>Organizer: {{detailsItem.value.organizer.name}}</h4></strong></wc>   
	</wr>
    <wr >
		<em><a class="linkEvent" href="{{detailsItem.value.link}}" >Click here to Register</a></em>
	</wr> 
   
     <wr>

		<div ng-bind-html="detailsItem.value.description"/>
	</wr>

	<wr><wc><span ng-repeat= "tag in detailsItem.value.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.value.details}}</div></wc></wr>
</script>